<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}{% endblock %} | twitterClone</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
    <div id="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

    </div>
</body>
</html>
