<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}{% endblock %} | twitterClone</title>
    <link rel="stylesheet" type="text/css" href="/static/common.css">
</head>
<body>
    <pre>
      _                _   _     _                    ____   _                        
     | |_  __      __ (_) | |_  | |_    ___   _ __   / ___| | |   ___    _ __     ___ 
     | __| \ \ /\ / / | | | __| | __|  / _ \ | '__| | |     | |  / _ \  | '_ \   / _ \
     | |_   \ V  V /  | | | |_  | |_  |  __/ | |    | |___  | | | (_) | | | | | |  __/
      \__|   \_/\_/   |_|  \__|  \__|  \___| |_|     \____| |_|  \___/  |_| |_|  \___|
    </pre>
    <div id="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

    </div>
</body>
</html>
