{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <h3>Login to twitterClone</h3>
    <div class="loginRegistrationForm">
        <form method="POST" action="/loginSubmit">
            Username: <input type="text" name="username" size="50" placeholder="Your Username.." />
            <br />
            Password: <input type="password" name="password" size="50" />
            <br />
            <input class="formButton" type="submit" name="submit" value="Login" />
        </form>
    </div>
    <br />
    Don't have an account? <a href="{{ url_for('register') }}">Create one here</a>
{% endblock %}
