{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block content %}
    <h3>Register to twitterClone</h3>
    <div class="loginRegistrationForm">
        <form method="POST" action="/registrationSubmit">
            Full name: <input type="text" name="fullName" size="50" />
            <br />
            Username: &nbsp;<input type="text" name="username" size="50" />
            <br />
            Password: &nbsp;<input type="password" name="password" size="50" />
            <br />
            <input class="formButton" type="submit" name="submit" value="Register" />
        </form>
    </div>
    <br />
    Already have an account? <a href="{{ url_for('login') }}">Login here</a>
{% endblock %}
